@media screen and (max-width: 1245px) {
  header nav .container-fluid a {
    font-size: 25px;
  }
  main .banner .on-baner h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1160px) {
  header nav .container-fluid a {
    font-size: 20px;
  }
  .logo {
    width: 80px;
    height: 70px;
  }
  header nav div div ul li a {
    font-size: 15px !important;
  }
  main .about_contact {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .about_contact .about-left {
    width: 100%;
  }
  main .about_contact .about-right {
    width: 100%;
  }
  main .about_contact .about-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main .about_contact .about-right form .forgrid6 {
    max-width: 100%;
    min-width: 100%;
    max-height: 126px;
    min-height: 126px;
  }
}

@media screen and (max-width: 1033px) {
  main .breed {
    display: none;
  }
  main .dropdown-responsive {
    display: flex;
  }
  main .book-online-banner {
    height: 400px;
  }
  main .book-online-banner .book-online-contain h1 {
    font-size: 30px;
    margin: 230px auto 50px;
  }
}
@media screen and (max-width: 991px) {
  .hidden {
    display: block;
  }
  main .about-wendy {
    position: static;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    place-items: center;
    height: fit-content;
  }
  main .about-wendy-contain {
    width: 100%;
    margin: 0px;
    position: static;
  }
  main .about-wendy aside {
    width: 90%;
  }
  main .about-wendy img {
    width: 100%;
    margin-left: 0px;
  }

  main .about-wandy-right {
    width: 100%;
    height: 550px;
    position: static;
    margin-top: 0px;
    margin-left: 0px;
    padding: 7%;
  }

  .logo-contain {
    display: grid;
    place-items: center;
  }

  .banner {
    height: 700px;
  }
  main .banner .on-baner h2 {
    font-size: 55px;
    text-align: center;
  }
  main .banner .on-baner p {
    text-align: center;
    width: 80%;
    margin: 50px auto 60px;
  }
  main .banner .on-baner {
    width: 100%;
    top: 40%;
    left: 0%;
  }
  main .banner .on-baner .primery-btn {
    margin: 0 auto;
  }

  main .client-list .bottom {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
  }
  main .client-list .bottom .overlay_container {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    height: none;
  }

  main .reviews {
    grid-template-columns: 1fr;
    width: 90%;
  }
  main .reviews aside {
    margin-bottom: 0px;
    width: 100%;
  }
  main .banner_openinghours .opening_contain h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 958px) {
  main .breed-description .breed-wrapper {
    margin-bottom: 50px;
    padding-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border: solid 1px #363c456c;
  }
  main .breed-description .breed-wrapper img {
    width: 100%;
    height: fit-content;
    border-radius: 1px;
    margin: 0 auto;
  }
  main .breed-description {
    width: 90%;
    margin: auto;
  }
  main .breed-description .breed-wrapper .small-desc {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
    width: 90%;
    margin: 20px auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.571);
  }
  main .breed-description .breed-wrapper .price {
    font-size: 16px;
    color: #363c45;
    width: 90%;
    margin: 0 auto;
  }
  main .breed-description .breed-wrapper .breed-btn {
    width: 90%;
    height: 45px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  main .banner .on-baner h2 {
    font-size: 40px;
  }
  main .client-list .bottom .overlay_container {
    height: 200px;
  }
  main .servise-part {
    width: 90%;
  }
  main .servise-part .servise-wrapper {
    grid-template-columns: 1fr;
  }
  main .servise-part .servise-wrapper div img {
    width: 100%;
  }
  main .servicestitle {
    font-size: 40px;
  }
  main .about-wendy .about-wandy-right h4 {
    font-size: 30px;
  }
  main .about-wandy-right {
    height: 550px;
  }
  .banner {
    height: 600px;
  }
  main .banner .on-baner {
    top: 30%;
  }
}

@media screen and (max-width: 548px) {
  main .client-list .bottom .overlay_container {
    height: 150px;
  }
  main .servicestitle {
    font-size: 30px;
    width: 100%;
    margin: 100px auto;
  }
}

@media screen and (max-width: 420px) {
  .dropbtn {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  main .client-list .bottom .overlay_container {
    height: 120px;
  }
  .logo {
    width: 60px;
    height: 50px;
  }
  header nav .container-fluid a {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .dropbtn {
    width: 300px;
  }
}
@media screen and (max-width: 330px) {
  main .about-wandy-right {
    height: 600px;
  }
}
@media screen and (max-width: 310px) {
  .dropbtn {
    width: 270px;
  }
}
@media screen and (max-width: 328px) {
  main .client-list .bottom .overlay_container {
    height: 100px;
  }
  main .client-list .bottom .overlay_container p {
    margin: 15% auto;
  }
}

@media screen and (max-width: 548px) {
  main .client-list .bottom .overlay_container p {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  main .client-list .bottom .overlay_container p {
    font-size: 12px;
  }
}

@media screen and (max-width: 289px) {
  main .about-wandy-right {
    height: 700px;
  }
}
@media screen and (max-width: 280px) {
  .dropbtn {
    width: 240px;
  }
}
