@media screen and (max-width: 1245px) {
  header nav .container-fluid a {
    font-size: 25px;
  }
  main .banner .on-baner h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1160px) {
  header nav .container-fluid a {
    font-size: 20px;
  }
  .logo {
    width: 80px;
    height: 70px;
  }
  header nav div div ul li a {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 991px) {
  .hidden {
    display: block;
  }
  main .about-wendy {
    position: static;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    place-items: center;
    height: fit-content;
  }
  main .about-wendy-contain {
    width: 100%;
    margin: 0px;
    position: static;
  }
  main .about-wendy aside {
    width: 90%;
  }
  main .about-wendy img {
    width: 100%;
    margin-left: 0px;
  }

  main .about-wandy-right {
    width: 100%;
    height: 550px;
    position: static;
    margin-top: 0px;
    margin-left: 0px;
    padding: 7%;
  }

  .logo-contain {
    display: grid;
    place-items: center;
  }

  .banner {
    height: 700px;
  }
  main .banner .on-baner h2 {
    font-size: 55px;
    text-align: center;
  }
  main .banner .on-baner p {
    text-align: center;
    width: 80%;
    margin: 50px auto 60px;
  }
  main .banner .on-baner {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
  }

  .btn-contain {
    margin: 0 auto;
  }
  main .client-list .bottom {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
  }
  main .client-list .bottom div {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    height: none;
    border: solid 1px black;
  }

  main .reviews {
    grid-template-columns: 1fr;
    width: 90%;
  }
  main .reviews aside {
    margin-bottom: 0px;
    width: 100%;
  }
  main .banner_openinghours .opening_contain h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  main .client-list .bottom div {
    height: 200px;
  }
  main .servise-part {
    width: 90%;
  }
  main .servise-part .servise-wrapper {
    grid-template-columns: 1fr;
  }
  main .servise-part .servise-wrapper div img {
    width: 100%;
  }
}

@media screen and (max-width: 548px) {
  main .client-list .bottom div {
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  main .client-list .bottom div {
    height: 120px;
  }
}

@media screen and (max-width: 328px) {
  main .client-list .bottom div {
    height: 100px;
  }
}
